.footer {
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 160px;
	margin-top: 80px;
	border-top: 2px solid rgba(128, 128, 128, 0.183);
}

.footer ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

.footer ul li a {
	font-size: 24px;
	color: white;
}
